:root {
  --bg-light: #ffffff;
  --bg-dark: #050505;
  --light-gray: #f4f4f4;
  --dark-gray: #757575;
  --darker-gray: #1f1f1f;
  --primary-color: #a44ce6;
  --secondary-color: #a34ce686;
}

.App {
  padding: 20px 7% 80px;
  min-height: 100vh;
}

@media screen and (min-width: 800px) {
  .App {
    padding: 35px 20% 80px;
  }
}
